.icon-fab {
    font-size: 400%;
}

.resume-section-content > div img {
    margin-right: 10px;
}

/* @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  } */
  @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
  }
  @media (min-width: 992px) {
    section.resume-section {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }